<form method="post">
    <div>
        <label for="firstvalue" title="firstvalue">First value:</label>
        <input id="firstvalue" name="firstvalue" type="number" placeholder="First value">
    </div>
    <div>
        <label for="secondvalue" title="secondvalue">First value:</label>
        <input id="secondvalue" name="secondvalue" type="number" placeholder="Second value">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <output>
        {{!-- <h1>{{FirstName}}</h1>
        <h2>{{LastName}}</h2> --}}
        <h1>{{Result}}</h1>
    </output>

</form>
